
local c = {
  bg = "{{bg}}",
  bgDim = "{{bgDim}}",
  bgAlt = "{{bgAlt}}",
  border = "{{border}}",
  fg = "{{fg}}",
  fgDim = "{{fgDim}}",
  fgMuted = "{{fgMuted}}",

  accent = "{{accent}}",
  error = "{{error}}",
  warning = "{{warning}}",
  success = "{{success}}",
  info = "{{info}}",

  black = "{{black}}",
  brightBlack = "{{brightBlack}}",
  red = "{{red}}",
  brightRed = "{{brightRed}}",
  green = "{{green}}",
  brightGreen = "{{brightGreen}}",
  yellow = "{{yellow}}",
  brightYellow = "{{brightYellow}}",
  blue = "{{blue}}",
  brightBlue = "{{brightBlue}}",
  magenta = "{{magenta}}",
  brightMagenta = "{{brightMagenta}}",
  cyan = "{{cyan}}",
  brightCyan = "{{brightCyan}}",
  white = "{{white}}",
  brightWhite = "{{brightWhite}}",
}

local function mix(a, b, t)
  local out = "#"
  for i = 2, 6, 2 do
    local x, y = tonumber(a:sub(i, i + 1), 16), tonumber(b:sub(i, i + 1), 16)
    out = out .. string.format("%02x", math.floor(x + (y - x) * t + 0.5))
  end
  return out
end

local selection = mix(c.bg, c.accent, 0.3)

local groups = {
  Normal = { fg = c.fg, bg = "NONE" },
  NormalNC = { fg = c.fg, bg = "NONE" },
  NormalFloat = { fg = c.fg, bg = c.bgDim },
  FloatBorder = { fg = c.border, bg = c.bgDim },
  FloatTitle = { fg = c.accent, bg = c.bgDim, bold = true },
  ColorColumn = { bg = c.bgAlt },
  Conceal = { fg = c.fgMuted },
  Cursor = { fg = c.bg, bg = c.fg },
  CursorLine = { bg = "NONE" },
  CursorColumn = { bg = "NONE" },
  CursorLineNr = { fg = c.accent, bold = true },
  LineNr = { fg = c.fgMuted },
  SignColumn = { bg = "NONE" },
  FoldColumn = { fg = c.fgMuted, bg = "NONE" },
  Folded = { fg = c.fgMuted, bg = c.bgAlt },
  Directory = { fg = c.brightBlue },
  EndOfBuffer = { fg = c.bgAlt, bg = "NONE" },
  NonText = { fg = c.border },
  Whitespace = { fg = c.border },
  SpecialKey = { fg = c.border },
  MatchParen = { fg = c.accent, bold = true },
  Title = { fg = c.accent, bold = true },
  WinSeparator = { fg = c.border },
  VertSplit = { fg = c.border },

  Visual = { bg = selection },
  VisualNOS = { bg = selection },
  Search = { fg = c.bg, bg = c.warning },
  IncSearch = { fg = c.bg, bg = c.accent },
  CurSearch = { fg = c.bg, bg = c.accent },
  Substitute = { fg = c.bg, bg = c.error },

  ErrorMsg = { fg = c.error, bold = true },
  WarningMsg = { fg = c.warning },
  ModeMsg = { fg = c.fgDim },
  MoreMsg = { fg = c.info },
  Question = { fg = c.info },
  MsgArea = { fg = c.fg },
  QuickFixLine = { bg = c.bgAlt },

  StatusLine = { fg = c.fg, bg = "NONE" },
  StatusLineNC = { fg = c.fgMuted, bg = "NONE" },
  TabLine = { fg = c.fgMuted, bg = "NONE" },
  TabLineFill = { bg = "NONE" },
  TabLineSel = { fg = c.fg, bg = "NONE", bold = true },
  WinBar = { fg = c.fgDim, bg = "NONE" },
  WinBarNC = { fg = c.fgMuted, bg = "NONE" },
  Pmenu = { fg = c.fg, bg = c.bgDim },
  PmenuSel = { fg = c.bg, bg = c.accent, bold = true },
  PmenuKind = { fg = c.brightCyan, bg = c.bgDim },
  PmenuExtra = { fg = c.fgMuted, bg = c.bgDim },
  PmenuSbar = { bg = c.bgDim },
  PmenuThumb = { bg = c.border },
  WildMenu = { fg = c.bg, bg = c.accent },

  Comment = { fg = c.fgMuted, italic = true },
  Constant = { fg = c.brightYellow },
  String = { fg = c.success },
  Character = { fg = c.success },
  Number = { fg = c.brightYellow },
  Boolean = { fg = c.brightYellow },
  Float = { fg = c.brightYellow },
  Identifier = { fg = c.fg },
  Function = { fg = c.brightBlue },
  Statement = { fg = c.accent, bold = true },
  Conditional = { fg = c.accent, bold = true },
  Repeat = { fg = c.accent, bold = true },
  Label = { fg = c.accent },
  Operator = { fg = c.fgDim },
  Keyword = { fg = c.accent, bold = true },
  Exception = { fg = c.accent, bold = true },
  PreProc = { fg = c.brightMagenta },
  Include = { fg = c.accent, bold = true },
  Define = { fg = c.brightMagenta },
  Macro = { fg = c.brightMagenta },
  PreCondit = { fg = c.brightMagenta },
  Type = { fg = c.brightCyan },
  StorageClass = { fg = c.accent, bold = true },
  Structure = { fg = c.brightCyan },
  Typedef = { fg = c.brightCyan },
  Special = { fg = c.brightYellow },
  SpecialChar = { fg = c.brightYellow },
  Tag = { fg = c.brightRed },
  Delimiter = { fg = c.fgDim },
  SpecialComment = { fg = c.fgDim, italic = true },
  Debug = { fg = c.error },
  Underlined = { fg = c.brightBlue, underline = true },
  Ignore = { fg = c.fgMuted },
  Error = { fg = c.error },
  Todo = { fg = c.bg, bg = c.warning, bold = true },

  ["@comment"] = { link = "Comment" },
  ["@comment.error"] = { fg = c.error, bold = true },
  ["@comment.warning"] = { fg = c.warning, bold = true },
  ["@comment.todo"] = { link = "Todo" },
  ["@comment.note"] = { fg = c.info, bold = true },
  ["@operator"] = { fg = c.fgDim },
  ["@punctuation.delimiter"] = { fg = c.fgDim },
  ["@punctuation.bracket"] = { fg = c.fgDim },
  ["@punctuation.special"] = { fg = c.accent },
  ["@keyword"] = { fg = c.accent, bold = true },
  ["@keyword.typescript"] = { fg = c.brightCyan },
  ["@keyword.tsx"] = { fg = c.brightCyan },
  ["@keyword.javascript"] = { fg = c.brightCyan },
  ["@keyword.function"] = { fg = c.brightCyan },
  ["@keyword.function.lua"] = { fg = c.accent, bold = true },
  ["@keyword.type"] = { fg = c.brightCyan },
  ["@keyword.modifier"] = { fg = c.accent, bold = true },
  ["@keyword.coroutine"] = { fg = c.accent, bold = true },
  ["@keyword.operator"] = { fg = c.accent },
  ["@keyword.return"] = { fg = c.accent, bold = true },
  ["@keyword.import"] = { fg = c.accent, bold = true },
  ["@keyword.conditional"] = { fg = c.accent, bold = true },
  ["@keyword.repeat"] = { fg = c.accent, bold = true },
  ["@keyword.exception"] = { fg = c.accent, bold = true },
  ["@keyword.directive"] = { fg = c.brightMagenta },
  ["@string"] = { fg = c.success },
  ["@string.documentation"] = { fg = c.success },
  ["@string.regexp"] = { fg = c.brightRed },
  ["@string.escape"] = { fg = c.brightWhite },
  ["@string.special"] = { fg = c.brightYellow },
  ["@character"] = { fg = c.success },
  ["@number"] = { fg = c.brightYellow },
  ["@number.float"] = { fg = c.brightYellow },
  ["@boolean"] = { fg = c.brightYellow },
  ["@constant"] = { fg = c.warning },
  ["@constant.builtin"] = { fg = c.brightYellow },
  ["@constant.macro"] = { fg = c.brightMagenta },
  ["@function"] = { fg = c.brightBlue },
  ["@function.call"] = { fg = c.brightBlue },
  ["@function.builtin"] = { fg = c.brightBlue },
  ["@function.macro"] = { fg = c.brightMagenta },
  ["@function.method"] = { fg = c.brightBlue },
  ["@function.method.call"] = { fg = c.brightBlue },
  ["@constructor"] = { fg = c.brightCyan },
  ["@type"] = { fg = c.brightCyan },
  ["@type.builtin"] = { fg = c.brightCyan },
  ["@type.definition"] = { fg = c.brightCyan },
  ["@type.qualifier"] = { fg = c.accent, bold = true },
  ["@attribute"] = { fg = c.brightMagenta },
  ["@module"] = { fg = c.brightCyan },
  ["@namespace"] = { fg = c.brightCyan },
  ["@label"] = { fg = c.fgDim },
  ["@variable"] = { fg = c.fg },
  ["@variable.builtin"] = { fg = c.accent },
  ["@variable.parameter"] = { fg = c.fg },
  ["@variable.member"] = { fg = c.fg },
  ["@property"] = { fg = c.fg },
  ["@field"] = { fg = c.fg },
  ["@tag"] = { fg = c.brightRed },
  ["@tag.builtin"] = { fg = c.brightRed },
  ["@tag.attribute"] = { fg = c.brightMagenta },
  ["@tag.delimiter"] = { fg = c.fgDim },
  ["@markup.heading"] = { fg = c.accent, bold = true },
  ["@markup.strong"] = { fg = c.fg, bold = true },
  ["@markup.italic"] = { fg = c.fg, italic = true },
  ["@markup.strikethrough"] = { fg = c.fgMuted, strikethrough = true },
  ["@markup.underline"] = { underline = true },
  ["@markup.link"] = { fg = c.blue, underline = true },
  ["@markup.link.url"] = { fg = c.blue, underline = true },
  ["@markup.link.label"] = { fg = c.brightBlue },
  ["@markup.raw"] = { fg = c.success },
  ["@markup.list"] = { fg = c.accent },
  ["@markup.quote"] = { fg = c.fgMuted, italic = true },
  ["@diff.plus"] = { fg = c.green },
  ["@diff.minus"] = { fg = c.brightRed },
  ["@diff.delta"] = { fg = c.yellow },

  ["@lsp.type.class"] = { link = "@type" },
  ["@lsp.type.enum"] = { link = "@type" },
  ["@lsp.type.interface"] = { link = "@type" },
  ["@lsp.type.struct"] = { link = "@type" },
  ["@lsp.type.parameter"] = { link = "@variable.parameter" },
  ["@lsp.type.property"] = { link = "@property" },
  ["@lsp.type.variable"] = { link = "@variable" },
  ["@lsp.type.function"] = { link = "@function" },
  ["@lsp.type.method"] = { link = "@function.method" },
  ["@lsp.type.namespace"] = { link = "@module" },
  ["@lsp.type.decorator"] = { link = "@attribute" },
  ["@lsp.type.macro"] = { link = "@function.macro" },
  ["@lsp.type.enumMember"] = { link = "@constant" },
  ["@lsp.type.typeParameter"] = { link = "@type" },
  ["@lsp.mod.deprecated"] = { strikethrough = true },

  DiagnosticError = { fg = c.error },
  DiagnosticWarn = { fg = c.warning },
  DiagnosticInfo = { fg = c.info },
  DiagnosticHint = { fg = c.fgDim },
  DiagnosticOk = { fg = c.success },
  DiagnosticVirtualTextError = { fg = c.error, bg = "NONE" },
  DiagnosticVirtualTextWarn = { fg = c.warning, bg = "NONE" },
  DiagnosticVirtualTextInfo = { fg = c.info, bg = "NONE" },
  DiagnosticVirtualTextHint = { fg = c.fgDim, bg = "NONE" },
  DiagnosticUnderlineError = { undercurl = true, sp = c.error },
  DiagnosticUnderlineWarn = { undercurl = true, sp = c.warning },
  DiagnosticUnderlineInfo = { undercurl = true, sp = c.info },
  DiagnosticUnderlineHint = { undercurl = true, sp = c.fgDim },
  DiagnosticUnnecessary = { fg = c.fgMuted },
  DiagnosticDeprecated = { strikethrough = true, sp = c.fgMuted },

  LspReferenceText = { bg = c.bgAlt },
  LspReferenceRead = { bg = c.bgAlt },
  LspReferenceWrite = { bg = c.bgAlt, underline = true },
  LspSignatureActiveParameter = { fg = c.accent, bold = true },
  LspInlayHint = { fg = c.fgMuted, bg = "NONE" },
  LspCodeLens = { fg = c.fgMuted, italic = true },

  DiffAdd = { fg = c.success, bg = c.bgDim },
  DiffChange = { fg = c.warning, bg = c.bgDim },
  DiffDelete = { fg = c.error, bg = c.bgDim },
  DiffText = { fg = c.bg, bg = c.warning },
  Added = { fg = c.success },
  Changed = { fg = c.warning },
  Removed = { fg = c.error },

  GitSignsAdd = { fg = c.success },
  GitSignsChange = { fg = c.warning },
  GitSignsDelete = { fg = c.error },
  GitSignsCurrentLineBlame = { fg = c.fgMuted, italic = true },

  TelescopeNormal = { fg = c.fg, bg = c.bgDim },
  TelescopeBorder = { fg = c.border, bg = c.bgDim },
  TelescopeTitle = { fg = c.bg, bg = c.accent, bold = true },
  TelescopePromptNormal = { fg = c.fg, bg = c.bgAlt },
  TelescopePromptBorder = { fg = c.bgAlt, bg = c.bgAlt },
  TelescopePromptTitle = { fg = c.bg, bg = c.accent, bold = true },
  TelescopePromptPrefix = { fg = c.accent },
  TelescopeSelection = { bg = c.bgAlt, bold = true },
  TelescopeSelectionCaret = { fg = c.accent, bg = c.bgAlt },
  TelescopeMatching = { fg = c.accent, bold = true },
  TelescopeResultsComment = { fg = c.fgMuted },

  NeoTreeNormal = { fg = c.fg, bg = "NONE" },
  NeoTreeNormalNC = { fg = c.fg, bg = "NONE" },
  NeoTreeWinSeparator = { fg = c.border, bg = "NONE" },
  NeoTreeEndOfBuffer = { fg = c.bgAlt, bg = "NONE" },
  NeoTreeRootName = { fg = c.accent, bold = true },
  NeoTreeDirectoryName = { fg = c.fgDim },
  NeoTreeDirectoryIcon = { fg = c.brightBlue },
  NeoTreeFileName = { fg = c.fg },
  NeoTreeFileIcon = { fg = c.fgDim },
  NeoTreeIndentMarker = { fg = c.border },
  NeoTreeGitAdded = { fg = c.success },
  NeoTreeGitModified = { fg = c.warning },
  NeoTreeGitDeleted = { fg = c.error },
  NeoTreeGitUntracked = { fg = c.brightMagenta },
  NeoTreeGitIgnored = { fg = c.fgMuted },
  NeoTreeTabActive = { fg = c.fg, bg = "NONE", bold = true },
  NeoTreeTabInactive = { fg = c.fgMuted, bg = "NONE" },

  BlinkCmpMenu = { fg = c.fg, bg = c.bgDim },
  BlinkCmpMenuBorder = { fg = c.border, bg = c.bgDim },
  BlinkCmpMenuSelection = { fg = c.bg, bg = c.accent, bold = true },
  BlinkCmpLabel = { fg = c.fg },
  BlinkCmpLabelMatch = { fg = c.accent, bold = true },
  BlinkCmpLabelDeprecated = { fg = c.fgMuted, strikethrough = true },
  BlinkCmpLabelDetail = { fg = c.fgMuted },
  BlinkCmpLabelDescription = { fg = c.fgMuted },
  BlinkCmpSource = { fg = c.fgMuted, italic = true },
  BlinkCmpKind = { fg = c.fgMuted },
  BlinkCmpKindFunction = { fg = c.brightBlue },
  BlinkCmpKindMethod = { fg = c.brightBlue },
  BlinkCmpKindConstructor = { fg = c.brightBlue },
  BlinkCmpKindClass = { fg = c.brightCyan },
  BlinkCmpKindInterface = { fg = c.brightCyan },
  BlinkCmpKindStruct = { fg = c.brightCyan },
  BlinkCmpKindEnum = { fg = c.brightCyan },
  BlinkCmpKindModule = { fg = c.brightCyan },
  BlinkCmpKindEvent = { fg = c.brightCyan },
  BlinkCmpKindTypeParameter = { fg = c.brightCyan },
  BlinkCmpKindVariable = { fg = c.fg },
  BlinkCmpKindField = { fg = c.fg },
  BlinkCmpKindProperty = { fg = c.fg },
  BlinkCmpKindKeyword = { fg = c.accent },
  BlinkCmpKindOperator = { fg = c.accent },
  BlinkCmpKindSnippet = { fg = c.accent },
  BlinkCmpKindConstant = { fg = c.warning },
  BlinkCmpKindEnumMember = { fg = c.warning },
  BlinkCmpKindValue = { fg = c.warning },
  BlinkCmpKindUnit = { fg = c.warning },
  BlinkCmpKindText = { fg = c.success },
  BlinkCmpKindColor = { fg = c.magenta },
  BlinkCmpKindFile = { fg = c.fgDim },
  BlinkCmpKindFolder = { fg = c.fgDim },
  BlinkCmpKindReference = { fg = c.fgDim },
  BlinkCmpDoc = { fg = c.fg, bg = c.bgDim },
  BlinkCmpDocBorder = { fg = c.border, bg = c.bgDim },
  BlinkCmpDocSeparator = { fg = c.border, bg = c.bgDim },
  BlinkCmpSignatureHelp = { fg = c.fg, bg = c.bgDim },
  BlinkCmpSignatureHelpBorder = { fg = c.border, bg = c.bgDim },
  BlinkCmpGhostText = { fg = c.fgMuted, italic = true },

  TroubleNormal = { fg = c.fg, bg = "NONE" },
  TroubleText = { fg = c.fg },
  TroubleCount = { fg = c.accent, bg = c.bgAlt },
  TroubleIndent = { fg = c.border },

  WhichKey = { fg = c.accent, bold = true },
  WhichKeyGroup = { fg = c.brightBlue },
  WhichKeyDesc = { fg = c.fg },
  WhichKeySeparator = { fg = c.fgMuted },
  WhichKeyFloat = { bg = c.bgDim },
  WhichKeyBorder = { fg = c.border, bg = c.bgDim },

  NeogitDiffAdd = { fg = c.success, bg = c.bgDim },
  NeogitDiffDelete = { fg = c.error, bg = c.bgDim },
  NeogitDiffContext = { fg = c.fgDim, bg = "NONE" },
  NeogitHunkHeader = { fg = c.fg, bg = c.bgAlt },
  NeogitHunkHeaderHighlight = { fg = c.accent, bg = c.bgAlt, bold = true },
  NeogitSectionHeader = { fg = c.accent, bold = true },
  NeogitBranch = { fg = c.brightMagenta, bold = true },
  NeogitRemote = { fg = c.brightGreen, bold = true },
  DiffviewNormal = { fg = c.fg, bg = "NONE" },
  DiffviewStatusAdded = { fg = c.success },
  DiffviewStatusModified = { fg = c.warning },
  DiffviewStatusDeleted = { fg = c.error },
  DiffviewFilePanelTitle = { fg = c.accent, bold = true },
  DiffviewFilePanelCounter = { fg = c.brightMagenta },

  RenderMarkdownH1 = { fg = c.accent, bold = true },
  RenderMarkdownH2 = { fg = c.brightBlue, bold = true },
  RenderMarkdownH3 = { fg = c.brightCyan, bold = true },
  RenderMarkdownH4 = { fg = c.brightGreen, bold = true },
  RenderMarkdownH5 = { fg = c.brightYellow, bold = true },
  RenderMarkdownH6 = { fg = c.brightMagenta, bold = true },
  RenderMarkdownCode = { bg = c.bgDim },
  RenderMarkdownCodeInline = { fg = c.success, bg = c.bgDim },
  RenderMarkdownBullet = { fg = c.accent },
  RenderMarkdownQuote = { fg = c.fgMuted },
  RenderMarkdownDash = { fg = c.border },
  RenderMarkdownLink = { fg = c.brightBlue, underline = true },
  RenderMarkdownTableHead = { fg = c.accent },
  RenderMarkdownTableRow = { fg = c.fgDim },

  RainbowDelimiter1 = { fg = c.accent },
  RainbowDelimiter2 = { fg = c.blue },
  RainbowDelimiter3 = { fg = c.cyan },
  RainbowDelimiter4 = { fg = c.success },
  RainbowDelimiter5 = { fg = c.warning },
  RainbowDelimiter6 = { fg = c.red },
}

vim.cmd("highlight clear")
if vim.fn.exists("syntax_on") == 1 then
  vim.cmd("syntax reset")
end
vim.o.background = "{{scheme}}"
vim.g.colors_name = "theme-engine"

for name, spec in pairs(groups) do
  vim.api.nvim_set_hl(0, name, spec)
end

local ansi = {
  c.black,
  c.red,
  c.green,
  c.yellow,
  c.blue,
  c.magenta,
  c.cyan,
  c.white,
  c.brightBlack,
  c.brightRed,
  c.brightGreen,
  c.brightYellow,
  c.brightBlue,
  c.brightMagenta,
  c.brightCyan,
  c.brightWhite,
}
for i, colour in ipairs(ansi) do
  vim.g["terminal_color_" .. (i - 1)] = colour
end

local function llmode(colour)
  return {
    a = { bg = "NONE", fg = colour, gui = "bold" },
    b = { bg = "NONE", fg = colour },
    c = { bg = "NONE", fg = c.fgDim },
  }
end

local lltheme = {
  normal = llmode(c.accent),
  insert = llmode(c.success),
  visual = llmode(c.brightMagenta),
  replace = llmode(c.error),
  command = llmode(c.warning),
  terminal = llmode(c.info),
  inactive = {
    a = { bg = "NONE", fg = c.fgMuted },
    b = { bg = "NONE", fg = c.fgMuted },
    c = { bg = "NONE", fg = c.fgMuted },
  },
}

local ok, lualine = pcall(require, "lualine")
if ok then
  local cfg = lualine.get_config()
  cfg.options.theme = lltheme
  lualine.setup(cfg)
end

vim.api.nvim_exec_autocmds("ColorScheme", { pattern = "theme-engine", modeline = false })
