* {
  font-family: "{{mono}}";
}
@define-color window_bg_color {{bg}};
@define-color window_fg_color {{fg}};
@define-color view_bg_color {{bg}};
@define-color view_fg_color {{fg}};
@define-color headerbar_bg_color {{bgDim}};
@define-color headerbar_fg_color {{fg}};
@define-color headerbar_backdrop_color {{bgDim}};
@define-color popover_bg_color {{bgAlt}};
@define-color popover_fg_color {{fg}};
@define-color card_bg_color {{bgAlt}};
@define-color card_fg_color {{fg}};
@define-color dialog_bg_color {{bg}};
@define-color dialog_fg_color {{fg}};
@define-color sidebar_bg_color {{bgDim}};
@define-color sidebar_fg_color {{fg}};
@define-color sidebar_backdrop_color {{bgDim}};
@define-color sidebar_border_color {{border}};
@define-color panel_bg_color {{bgDim}};
@define-color panel_fg_color {{fg}};
@define-color accent_bg_color {{accent}};
@define-color accent_fg_color {{bg}};
@define-color accent_color {{accent}};
@define-color destructive_bg_color {{error}};
@define-color destructive_color {{error}};
@define-color success_bg_color {{success}};
@define-color success_color {{success}};
@define-color warning_bg_color {{warning}};
@define-color warning_color {{warning}};
@define-color error_bg_color {{error}};
@define-color error_color {{error}};
