color=foreground={{accentHex}},foreground_text={{bgHex}},background={{bgHex}},background_text={{fgHex}},window_border={{borderHex}},curtain={{bgHex}},success={{successHex}},error={{errorHex}},match={{accentHex}},heatmap={{infoHex}}
timeline_style=bar
timeline_size=40
top_bar=auto
top_bar_title=yes
volume=right
