hl.config({
  general = {
    ["col.active_border"] = "{{accent}}",
    ["col.inactive_border"] = "{{border}}",
  },
  decoration = {
    rounding = {{radius}},
  },
  group = {
    ["col.border_active"] = "{{accent}}",
    ["col.border_inactive"] = "{{border}}",
    groupbar = {
      ["col.active"] = "{{accent}}",
      ["col.inactive"] = "{{bgAlt}}",
      text_color = "{{bg}}",
      text_color_inactive = "{{fgDim}}",
      font_family = "{{mono}}",
    },
  },
  misc = {
    background_color = "{{bg}}",
  },
})
